@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 375;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}
@mixin flex-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@mixin _1366 {
    @media (max-width: 1365px){
        @content;
    }
}
@mixin _1024 {
    @media (max-width: 1023px){
        @content;
    }
}