.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -12.5px;
    margin-right: -12.5px;
    @include _768 {
        flex-direction: column;
    }
    &_services {
        margin: -25px -12.5px;
        @include _768 {
            margin: -10px 0;
        }
    }
    &_horizontal {
        margin: -32.5px -27.5px;;
    }
    &__item {
        align-items: center;
        border: 1px solid $color-gray-light;
        border-radius: 2px;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        margin: 0 12.5px;
        padding: 38px 35px 44px;
        text-align: center;
        @include _768 {
            margin: 15px 0;
        }
        &_service {
            @include adaptiv-font(24, 16);
            height: 175px;
            margin: 25px 12.5px;
            min-width: 30%;
            transition: 0.3s;
            user-select: none;
            &:hover {
                background-color: $color-orange;
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
                color: #fff;
            }
            @include _768 {
                margin: 10px 0;
            }
        }
        &_hor {
            border-color: transparent;
            color: #fff;
            flex-direction: row;
            justify-content: flex-start;
            margin: 32.5px 27.5px;
            padding-bottom: 0;
            padding-top: 0;
            text-align: left;
            @include _1024 {

            }
            &>.cards__icon {
                margin-bottom: 0;
                margin-right: 18px;
            }
        }
    }
    &__icon {
        height: 71px;
        margin-bottom: 12px;
        width: 71px;
        &>svg {
            height: 71px;
            width: 71px;
        }
    }
}