header
    .header#home
        .container
            .header__content
                .header__top
                    .logo.header__logo
                        img(src="/img/logo.png", alt="Logo")
                    nav.header__nav
                        ul.header__menu
                            li.header__link
                                a(href="#home") Главная
                            li.header__link
                                a(href="#about") Обо мне
                            li.header__link
                                a(href="#portfolio") Портфолио
                            li.header__link
                                a(href="#services") Услуги   
                            li.header__link
                                a(href="#stages") Этапы работы
                            li.header__link
                                a(href="#questions") Вопросы
                            li.header__link
                                a(href="#reviews") Отзывы
                        .burger
                            .burger__line        
                            .burger__line        
                            .burger__line        
                .header__body
                    .header__text
                        h1.header__title Стильный информативный облик вашего бизнеса в правильных руках
                        p Осваиваете digital среду, но не знаете как заявить о своих услугах и достижениях? 
                            |Начните свой путь  с функционального, информативного, стильного сайта 
                            |или мобильного приложения
                        button.btn.header__btn(data-link="true") Оставить заявку