.section {
    padding: 84px 0;
    &_gray {
        background: url('/img/photo1.png') left bottom no-repeat, 
                    linear-gradient(170deg, rgba(0,0,0,1) 0%, rgba(84,94,95,1) 0%);
        background-size: auto 100%;     
        color: #fff;
        @include _1200 {
            background-size: 40% auto;
        }
        @include _1024 {
            background: rgba(84,94,95,1);
        }
    }
    &_orange {
        background-color: $color-orange;
    }
    @include _768 {
        padding: 30px 0;
        text-align: center;
    }
    &__content {
        &_pos {
            &_right {
                margin-left: auto;
                width: 60%;
                @include _1024 {
                    margin: 0;
                    width: 100%;
                }
            }
        }
    }
    &__title {
        @include adaptiv-font(48, 24);
        margin-bottom: 98px;
        margin-left: 50px;
        position: relative;
        &::before {
            background-color: #333333;
            bottom: -40px;
            content: '';
            height: 9px;
            left: -50px;
            position: absolute;
            width: 99px;
            @include _1024 {
                content: none;
            }
        }
        &_simple {
            margin: auto;
            margin-left: 0;
            &::before {
                content: none;
            }
        }
        &_small {
            @include adaptiv-font(36, 18);
        }
        &_white {
            color: #fff;
            &::before {
                background-color: #fff;
            }
        }
        &_right {
            margin: 0;
            margin-bottom: 70px;
            &::before {
                left: auto;
                right: 0;
            }
            @include _768 {
                display: none;
            }
        }
        &_mobile {
            display: none;
            @include _768 {
                display: block;
            }
        }
        @include _1024 {
            margin-bottom: 30px;
        }
        @include _768 {
            font-weight: 700;
            margin-left: 0;
        }
    }
    &__subtitle {
        @include adaptiv-font(18, 14);
        margin-top: 10px;
    }
    &__cards {
        margin-bottom: 59px;
        margin-top: 53px;
        @include _768 {
            margin-bottom: 15px;
            margin-top: 15px;
        }
    }
    &__text {
        font-weight: 400;
        line-height: 172%;
        &_big {
            font-size: 24px;
            line-height: 129%;
            @include _768 {
                font-size: 16px;
                margin-bottom: 15px;
            }
        }
    }
    &__text-block {
        margin: 54px 0;
        @include _1024 {
            margin: 30px 0;
        }
    }
    &__btn {
        margin-top: 68px;
    }
    &__grid {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
        @include _1024 {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }
        @include _768 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    }
    &__slider {
        margin-top: -102px;
        @include _1024 {
            margin-top: 0;
        }
    }
}

.grid {
    display: grid;
    grid-gap: 8px;
    &__item {
        &_big {
            grid-row: 1 / 3;
            @include _768 {
                grid-row: 1 / 2;
            }
        }
        &>img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
}

.row {
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
        margin-bottom: 150px;
        @include _768 {
            margin-bottom: 30px;
        }
    }
    @include _768 {
        flex-direction: column;
    }
    &_reverse {
        @include _768 {
            flex-direction: column-reverse;   
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: right;
        width: 48%;
        &:nth-child(2n) {
            text-align: left;
            @include _768 {
                text-align: center;
            }
        }
        @include _768 {
            margin: 5px 0; 
            text-align: center;
            width: 100%;    
        }
        &>img {
            width: 100%;
        }
    }
    &__title {
        @include adaptiv-font(36, 18);
        @include _768 {
            font-weight: 700;
        }
    }
    &__text {
        color: #717171;
        @include adaptiv-font(24, 16);
    }
    &__number {
        color: $color-gray-light;
        @include adaptiv-font(96, 24);
        &_orange {
            color: #FFD2BC;
        }
        @include _768 {
            display: none;
        }
    }
}