mixin svg(id)
    svg
        use(href="/img/sprites/sprite.svg#" + id)

mixin picture(name, type, path="", alt="")
    picture
        source(srcset="/img/" + path + name + '.webp', type="image/webp")
        img(src="/img/" + path + name + '.' + type, alt=alt)