extends layouts/default
include helpers/mixins

block variables
	- const title = "Бизнес в надежных руках"

block content
	include ../blocks/modules/header/header
	main
		section
			.section
				.container
					.section__content
						h2.section__title.section__title_simple Если Вы не знаете как:
						.section__cards.cards
							.cards__item
								.cards__icon
									+svg('business-office-icon1')
								p.section__text.cards__text
									|Кратко, но емко донести до пользователей всю необходимую 
									|информацию о вашем бизнесе
							.cards__item
								.cards__icon
									+svg('business-office-icon2')
								p.section__text.cards__text
									|Использовать визуал как преимущество в условиях жесткой конкурентной борьбы
							.cards__item
								.cards__icon
									+svg('business-office-icon3')
								p.section__text.cards__text
									|Увеличить показатели эффективности и улучшить конверсию вашего сайта 
						p.section__text.section__text_big
							|Если Вы хотите открыть свой интернет-магазин,запустить сайт или мобильное приложение, 
							|но не представляете как к этому подступиться — оставьте заявку и получите 
							span.text_bold бесплатную консультацию
						button.btn.section__btn Оставить заявку
		section
			.section.section_gray
				.container
					.section__content.section__content_pos_right
						h2.section__title.section__title_white Обо мне
						.section__title.section__title_small.section__title_simple 
							h3 Привет! Меня зовут Юлия Долготович
							p.section__subtitle сертифицированный UI/UX дизайнер
						.section__text-block 
							p.section__text Я разработаю дизайн вашего продукта с учетом логики взаимодействия с пользователями.
							p.section__text Я понимаю роль визуала в современной информационной среде и убеждена, что дизайн в первую очередь должен быть продающим, удобным и эстетичным. 
						p.section__text Я не обещаю вам результат за 2 дня, но гарантирую, что он будет отражать индивидуальность и уникальность вашего бизнеса, а также будет простым и понятным для ваших пользователей			
						button.btn.section__btn Заказать дизайн
block scripts
	script(src="js/main.js")