extends layouts/default
include helpers/mixins

block variables
	- const title = "Бизнес в надежных руках"

block content
	include ../blocks/modules/header/header
	main
		section
			.section
				.container
					.section__content
						h2.section__title.section__title_simple Если Вы не знаете как:
						.section__cards.cards
							.cards__item
								.cards__icon
									+svg('business-office-icon1')
								p.section__text
									|Кратко, но емко донести до пользователей всю необходимую 
									|информацию о вашем бизнесе
							.cards__item
								.cards__icon
									+svg('business-office-icon2')
								p.section__text
									|Использовать визуал как преимущество в условиях жесткой конкурентной борьбы
							.cards__item
								.cards__icon
									+svg('business-office-icon3')
								p.section__text
									|Увеличить показатели эффективности и улучшить конверсию вашего сайта 
						p.section__text.section__text_big
							|Если Вы хотите открыть свой интернет-магазин,запустить сайт или мобильное приложение, 
							|но не представляете как к этому подступиться — оставьте заявку и получите 
							span.text_bold бесплатную консультацию
						button.btn.section__btn Оставить заявку
		section
			.section.section_gray
				.container
					.section__content.section__content_pos_right
						h2.section__title.section__title_white Обо мне
						.section__title.section__title_small.section__title_simple 
							h3 Привет! Меня зовут Юлия Долготович
							p.section__subtitle сертифицированный UI/UX дизайнер
						.section__text-block 
							p.section__text Я разработаю дизайн вашего продукта с учетом логики взаимодействия с пользователями.
							p.section__text Я понимаю роль визуала в современной информационной среде и убеждена, что дизайн в первую очередь должен быть продающим, удобным и эстетичным. 
						p.section__text Я не обещаю вам результат за 2 дня, но гарантирую, что он будет отражать индивидуальность и уникальность вашего бизнеса, а также будет простым и понятным для ваших пользователей			
						button.btn.section__btn Заказать дизайн
		section
			.section
				.container
					.section__content
						h2.section__title Портфолио
				.grid.section__grid
					.grid__item.grid__item_big
						img(src="/img/projects/salon-spa.jpg", alt="Дизайн сайта спа-салона")
					.grid__item
						img(src="/img/projects/hymm.jpg", alt="Дизайн landing page по продаже дезодаранта")
					.grid__item
						img(src="/img/projects/auto.jpg", alt="Дизайн сайта по аренде автомобилей")
					.grid__item
						img(src="/img/projects/boneco.jpg", alt="Дизайн landing page по продаже увлажнителя воздуха")
					.grid__item
								img(src="/img/projects/brain-doctor.jpg", alt="Дизайн мобильного приложения для тренировки памяти")
				button.btn.btn_white Смотреть все
		section
			.section
				.container
					.section__content
						h2.section__title Мои услуги
						.cards.section__cards.cards_services
							.cards__item.cards__item_service
								p.cards__text Одностраничные сайты 
								p.cards__text (Landing Pages)
							.cards__item.cards__item_service
								p.cards__text Интернет-магазины 
								p.cards__text (E-Commerce)
							.cards__item.cards__item_service
								p.cards__text Многостраничные сайты 
								p.cards__text любой сложности
							.cards__item.cards__item_service
								p.cards__text Мобильные приложения
							.cards__item.cards__item_service
								p.cards__text Прототипирование
							.cards__item.cards__item_service
								p.cards__text Редизайн				
		section
			.section.section_orange
				.container
					.section__content
						h2.section__title.section__title_white Что делает меня
							span.text_block уникальным специалистом?
						.cards.cards_horizontal
							.cards__item.cards__item_hor
								.cards__icon
									+svg("icon1")
								p.cards__text Постоянный анализ конкурентов
							.cards__item.cards__item_hor
								.cards__icon
									+svg("icon2")
								p.cards__text Глубокое изучение сути заказа 
							.cards__item.cards__item_hor
								.cards__icon
									+svg("icon3")
								p.cards__text Серьезный подход и большая ответственность
							.cards__item.cards__item_hor
								.cards__icon
									+svg("icon4")
								p.cards__text Строгое соблюдение дедлайна
							.cards__item.cards__item_hor
								.cards__icon
									+svg("icon5")
								p.cards__text Внимание к деталям
							.cards__item.cards__item_hor
								.cards__icon
									+svg("icon6")
								p.cards__text Индивидуальный подход к каждому клиенту			
block scripts
	script(src="js/main.js")