extends layouts/default
include helpers/mixins

block variables
	- const title = "Бизнес в надежных руках"

block content
	include ../blocks/modules/header/header
	main
		section
			.section
				.container
					.section__content
						h2.section__title.section__title_simple Если Вы не знаете как:
						.section__cards.cards
							.cards__item
								.cards__icon
									+svg('business-office-icon1')
								p.section__text
									|Кратко, но емко донести до пользователей всю необходимую 
									|информацию о вашем бизнесе
							.cards__item
								.cards__icon
									+svg('business-office-icon2')
								p.section__text
									|Использовать визуал как преимущество в условиях жесткой конкурентной борьбы
							.cards__item
								.cards__icon
									+svg('business-office-icon3')
								p.section__text
									|Увеличить показатели эффективности и улучшить конверсию вашего сайта 
						p.section__text.section__text_big
							|Если Вы хотите открыть свой интернет-магазин,запустить сайт или мобильное приложение, 
							|но не представляете как к этому подступиться — оставьте заявку и получите 
							span.text_bold бесплатную консультацию
						button.btn.section__btn Оставить заявку
		section
			.section.section_gray#about
				.container
					.section__content.section__content_pos_right
						h2.section__title.section__title_white Обо мне
						.section__title.section__title_small.section__title_simple 
							h3 Привет! Меня зовут Юлия Долготович
							p.section__subtitle сертифицированный UI/UX дизайнер
						.section__text-block 
							p.section__text Я разработаю дизайн вашего продукта с учетом логики взаимодействия с пользователями.
							p.section__text Я понимаю роль визуала в современной информационной среде и убеждена, что дизайн в первую очередь должен быть продающим, удобным и эстетичным. 
						p.section__text Я не обещаю вам результат за 2 дня, но гарантирую, что он будет отражать индивидуальность и уникальность вашего бизнеса, а также будет простым и понятным для ваших пользователей			
						button.btn.section__btn Заказать дизайн
		section
			.section#portfolio
				.container
					.section__content
						h2.section__title Портфолио
				.grid.section__grid
					.grid__item.grid__item_big
						img(src="/img/projects/salon-spa.jpg", alt="Дизайн сайта спа-салона")
					.grid__item
						img(src="/img/projects/hymm.jpg", alt="Дизайн landing page по продаже дезодаранта")
					.grid__item
						img(src="/img/projects/auto.jpg", alt="Дизайн сайта по аренде автомобилей")
					.grid__item
						img(src="/img/projects/boneco.jpg", alt="Дизайн landing page по продаже увлажнителя воздуха")
					.grid__item
								img(src="/img/projects/brain-doctor.jpg", alt="Дизайн мобильного приложения для тренировки памяти")
				button.btn.btn_white Смотреть все
		section
			.section#services
				.container
					.section__content
						h2.section__title Мои услуги
						.cards.section__cards.cards_services
							.cards__item.cards__item_service
								p.cards__text Одностраничные сайты 
								p.cards__text (Landing Pages)
							.cards__item.cards__item_service
								p.cards__text Интернет-магазины 
								p.cards__text (E-Commerce)
							.cards__item.cards__item_service
								p.cards__text Многостраничные сайты 
								p.cards__text любой сложности
							.cards__item.cards__item_service
								p.cards__text Мобильные приложения
							.cards__item.cards__item_service
								p.cards__text Прототипирование
							.cards__item.cards__item_service
								p.cards__text Редизайн				
		section
			.section.section_orange
				.container
					.section__content
						h2.section__title.section__title_white Что делает меня
							span.text_block уникальным специалистом?
						.cards.cards_horizontal
							.cards__item.cards__item_hor
								.cards__icon
									+svg("icon1")
								p.cards__text Постоянный анализ конкурентов
							.cards__item.cards__item_hor
								.cards__icon
									+svg("icon2")
								p.cards__text Глубокое изучение сути заказа 
							.cards__item.cards__item_hor
								.cards__icon
									+svg("icon3")
								p.cards__text Серьезный подход и большая ответственность
							.cards__item.cards__item_hor
								.cards__icon
									+svg("icon4")
								p.cards__text Строгое соблюдение дедлайна
							.cards__item.cards__item_hor
								.cards__icon
									+svg("icon5")
								p.cards__text Внимание к деталям
							.cards__item.cards__item_hor
								.cards__icon
									+svg("icon6")
								p.cards__text Индивидуальный подход к каждому клиенту			
		section
			.section#stages
				.container
					.section__content
						h2.section__title Этапы работы:
						ul.stages
							li.stages__item
								h3.stages__title 1. Исследование
								p.stages__text Анализ конкурентов и новых тенденций, поиск и разбор примеров
							li.stages__item
								h3.stages__title 2. Обсуждение концепции и целей (ТЗ или Бриф) 
								p.stages__text Этап непосредственного взаимодействия дизайнера и заказчика. Формируется четкая концепция будущего продукта. Прописываются основные пожелания клиента с указанием цели, задач и целевой аудитории
							li.stages__item
								h3.stages__title 3. Разработка прототипа
								p.stages__text Прототип представляет собой эскиз, созданный для визуальной оценки структуры и внешнего облика проекта. Клиент может высказать свое мнение о расположении блоков, элементов и разделов, а также о выбранном стилевом оформлении
							li.stages__item
								h3.stages__title 4. Отрисовка главной страницы
								p.stages__text Главная страница оформляется в фирменном стиле компании (если таковой имеется). 
									span.text_block При желании заказчика фирменный стиль может быть разработан с нуля. Это условие оговаривается отдельно в техническом задании
							li.stages__item
								h3.stages__title 5. Утверждение и согласование главной страницы и общего стиля
								p.stages__text Внесение необходимых изменений и доработок. 
									span.text_block Отрисованная главная страница направляется на согласование заказчику. При наличии правок все изменения согласовываются и вносятся в кратчайшие сроки.
							li.stages__item
								h3.stages__title.stages__title_last 6. Отрисовка дизайна остальных страниц
								p.stages__text Исходники с отрисованным дизайном в подготовленном к верстке виде передаются заказчику
		section
			.section
				.container
					.section__content
						h2.section__title.section__title_mobile Что Вы получаете
						.row.row_reverse
							.row__item
								h2.section__title.section__title_right Что
									span.text_block Вы получаете
								h3.row__title Бесплатная
									span.text_block консультация
								p.row__text Просто оставьте заявку и я свяжусь с вами в ближайшее время
								p.row__number.row__number_orange 01
							.row__item
								img(src="/img/consultation.jpg", alt="")
						.row
							.row__item
								img(src="/img/concurents.jpg", alt="")
							.row__item
								h3.row__title Анализ
									span.text_block конкурентов
								p.row__text Провожу анализ ваших конкурентов. Определяю боли клиентов
								p.row__number 02
						.row.row_reverse
							.row__item
								h3.row__title Координация действий
									span.text_block на каждом этапе
									span.text_block выполнения заказа
								p.row__text Каждый этап выполнения проекта идет на согласование с заказчиком
								p.row__number 03
							.row__item
								img(src="/img/coordination.jpg", alt="")
						.row
							.row__item
								img(src="/img/garant.jpg", alt="")
							.row__item
								h3.row__title Гарантия
									span.text_block качества
								p.row__text Ваш проект будет сделан вовремя, соблюдены все пожелания и требования к заказу
								p.row__number 04						
		section
			.section#questions
				.container
					.section__content
						h2.section__title Вопросы
						.questions
							.questions__item
								label.questions__label(for="q1")
									p.questions__title Как заказать дизайн проекта?
									.questions__icon
										+svg("plus")
								input.questions__radio#q1(type="radio", name="question", checked)
								.questions__text
									|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempora eligendi adipisci iste nesciunt reprehenderit vero eveniet, qui ex quam expedita beatae vitae enim iusto quibusdam fugit, dolor eum commodi magnam excepturi consequuntur quidem tempore exercitationem ad! Officiis eum ipsum, voluptates deleniti iste deserunt ab maxime ipsa molestias at, consequatur sed cupiditate recusandae doloribus maiores porro fugiat ad? Consectetur, eligendi.
							.questions__item
								label.questions__label(for="q2")
									p.questions__title Что такое техническое задание (ТЗ) и для чего оно нужно?
									.questions__icon
										+svg("plus")
								input.questions__radio#q2(type="radio", name="question")
								.questions__text
									|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempora eligendi adipisci iste nesciunt reprehenderit vero eveniet, qui ex quam expedita beatae vitae enim iusto quibusdam fugit, dolor eum commodi magnam excepturi consequuntur quidem tempore exercitationem ad! Officiis eum ipsum, voluptates deleniti iste deserunt ab maxime ipsa molestias at, consequatur sed cupiditate recusandae doloribus maiores porro fugiat ad? Consectetur, eligendi.
							.questions__item
								label.questions__label(for="q3")
									p.questions__title Что такое UI/UX?
									.questions__icon
										+svg("plus")
								input.questions__radio#q3(type="radio", name="question")
								.questions__text
									|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempora eligendi adipisci iste nesciunt reprehenderit vero eveniet, qui ex quam expedita beatae vitae enim iusto quibusdam fugit, dolor eum commodi magnam excepturi consequuntur quidem tempore exercitationem ad! Officiis eum ipsum, voluptates deleniti iste deserunt ab maxime ipsa molestias at, consequatur sed cupiditate recusandae doloribus maiores porro fugiat ad? Consectetur, eligendi.
							.questions__item
								label.questions__label(for="q4")
									p.questions__title Сколько вариантов дизайна вы делаете?
									.questions__icon
										+svg("plus")
								input.questions__radio#q4(type="radio", name="question")
								.questions__text
									|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempora eligendi adipisci iste nesciunt reprehenderit vero eveniet, qui ex quam expedita beatae vitae enim iusto quibusdam fugit, dolor eum commodi magnam excepturi consequuntur quidem tempore exercitationem ad! Officiis eum ipsum, voluptates deleniti iste deserunt ab maxime ipsa molestias at, consequatur sed cupiditate recusandae doloribus maiores porro fugiat ad? Consectetur, eligendi.
							.questions__item
								label.questions__label(for="q5")
									p.questions__title От чего зависит стоимость?
									.questions__icon
										+svg("plus")
								input.questions__radio#q5(type="radio", name="question")
								.questions__text
									|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempora eligendi adipisci iste nesciunt reprehenderit vero eveniet, qui ex quam expedita beatae vitae enim iusto quibusdam fugit, dolor eum commodi magnam excepturi consequuntur quidem tempore exercitationem ad! Officiis eum ipsum, voluptates deleniti iste deserunt ab maxime ipsa molestias at, consequatur sed cupiditate recusandae doloribus maiores porro fugiat ad? Consectetur, eligendi.
							.questions__item
								label.questions__label(for="q6")
									p.questions__title Нужна ли предоплата?
									.questions__icon
										+svg("plus")
								input.questions__radio#q6(type="radio", name="question")
								.questions__text
									|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempora eligendi adipisci iste nesciunt reprehenderit vero eveniet, qui ex quam expedita beatae vitae enim iusto quibusdam fugit, dolor eum commodi magnam excepturi consequuntur quidem tempore exercitationem ad! Officiis eum ipsum, voluptates deleniti iste deserunt ab maxime ipsa molestias at, consequatur sed cupiditate recusandae doloribus maiores porro fugiat ad? Consectetur, eligendi.
							.questions__item
								label.questions__label(for="q7")
									p.questions__title Допустимое количество правок
									.questions__icon
										+svg("plus")
								input.questions__radio#q7(type="radio", name="question")
								.questions__text
									|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempora eligendi adipisci iste nesciunt reprehenderit vero eveniet, qui ex quam expedita beatae vitae enim iusto quibusdam fugit, dolor eum commodi magnam excepturi consequuntur quidem tempore exercitationem ad! Officiis eum ipsum, voluptates deleniti iste deserunt ab maxime ipsa molestias at, consequatur sed cupiditate recusandae doloribus maiores porro fugiat ad? Consectetur, eligendi.								
		section
			.section
				.container
					.section__content
						h2.section__title Отзывы
						.slider.section__slider
							.slider__track
								.slider__slide.slider__slide_current
									.slider__text
										h3.slider__title Иван Рочкевич
										p.slider__subtitle Веб-разработчик
										p Юля прекрасно справилась с задачей создания дизайна технического форума. Были хорошо продуманы цвета, шрифты, расположение элементов сайта. Постоянно была на связи, рекомендую!
									.slider__img
										img(src="/img/ivan.png", alt="")
								.slider__slide
									.slider__text
										h3.slider__title Владислав Столыпин
										p.slider__subtitle Frontend-разработчик
										p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolore sint adipisci libero vero corrupti dolores perferendis voluptate. Aut nemo mollitia iure impedit distinctio facere fugiat dolores, nihil, odit.
									.slider__img
										img(src="/img/vladislav.png", alt="")
							.slider__buttons
								button.slider__btn.slider__btn_prev
									+svg("arrow-left")
								button.slider__btn.slider__btn_next
									+svg("arrow-right")
block scripts
	script(src="js/main.js")